{% extends "mail/mail_layout.html.twig" %}
{% block content %}
    <table width="100%" style="max-width: 600px; margin: 0 auto;" class="main-container">
        <tr>
            <td style="width: 600px;">
                <table class="container" cellspacing="0" cellpadding="0" style="background: #F0F0F0;">
                    <tr class="header" style="">
                        <td style="background: black; height: 100px; width: 100%; border-radius: 0 0 250px 0; -webkit-border-radius: 0 0 250px 0; padding-left: 35px;">
                            <a href="{{ siteUrl }}" style="display: inline-block;">
                                <img style="width: 50px; height: 50px;" src="{{ siteUrl ~ asset('assets/img/28-logo.png') }}" class="logo__img" alt="28 дней" title="28 дней">
                            </a>
                        </td>
                    </tr>

                    <tr class="main" style="color: #30363E; background: #F0F0F0; height: 795px; text-align: center;">
                        <td style="padding: 0 40px;">
                            {#<img src="{{ siteUrl ~ asset('assets/img/hello-user.png') }}" class="" alt="" title="" style="display: block; width: 60px; height: 60px; margin: 60px auto 32px;">#}

                            <p style="margin-bottom: 24px; font-family: Helvetica, Arial, sans-serif; font-size: 40px; line-height: 48px; font-weight: bold;">Что будет происходить с организмом, если не пить алкоголь 28 дней</p>

                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: justify;">Средний человек со средним доходом выпивает около 9,5 л спиртного в год, если верить статистике. Это далеко не алкоголик — просто любитель проводить время с друзьями и бутылочкой чего-то крепкого или не очень. Иногда он позволяет себе расслабиться в течение трудовой недели — совсем чуть-чуть, буквально один бокал вина перед сном, чтобы скорее уснуть или снять стресс. А что будет происходить с организмом этого человека, если он совсем не будет пить 28 дней подряд?</p>
                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: justify;">AdMe.ru вдохновился инициативами нескольких известных и не очень групп энтузиастов и задумался, а будут ли хоть какие-то подвижки в здоровье и внешности всего за 4 недели без спиртного? Для тех, кому не терпится узнать, заметим сразу: будут, и довольно серьезные.</p>
                            <p style="font-family: Helvetica, Arial, sans-serif;">
                            <h3 style="padding: 32px 0 5px; font-size: 26px; line-height: 38px; font-weight: normal; margin: 0; font-family: Helvetica, Arial, sans-serif">1-я неделя</h3>
                            <img src="https://files.adme.ru/files/news/part_201/2017565/1024665-1474560-ad6c962da2d7c9281b973c2991e357d42c6a01ab-1500-1-1550651868-728-af96ba8682-1550843325.jpg" alt="">
                            <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px; font-family:  Helvetica, Arial, sans-serif;  color: #939393;">© unknown author / pxhere</a>&nbsp;&nbsp;&nbsp; © Alexey Ivanov / flickr </span>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Кажется, что <b>повышается аппетит</b>. На самом деле люди намного
                                    больше едят, если выпивают. А после полного отказа от спиртного человеку психологически хочется заполнить образовавшуюся пустоту. Как правило, едой. Хотя можно успешно заменить ее на соки или фрукты.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Может появиться сильная жажда сладкого. Алкоголь, особенно приторный,
                                    может повышать количество сахара в крови. При этом на разных людей спиртное действует по-разному: у кого-то уровень сахара, наоборот, понижается. Особенно опасно неконтролируемое увлечение коктейлями для диабетиков.</span></li>
                            </ul>
                            <p>
                                <img src="https://files.adme.ru/files/news/part_201/2017565/1025115-1483910-c52a717f0c3ee211bd206dcfa6cba9d665d065dd-1500-1-1550652449-728-1ad545277e-1550843325.jpg" alt="">
                                <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px;  font-family: Helvetica, Arial, sans-serif; color: #939393;">© lassaffa / pixabay&nbsp;&nbsp;&nbsp;© kudybadorota / pixabay</span>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;"><b>Трудно засыпать.</b> Актуально для тех, кто привык пропускать рюмочку перед сном, чтобы избавиться от бессонницы. Алкоголь просто ускоряет погружение в сон, а вот на его качество влияет негативно. Без обычной дозы снотворного первое время засыпать станет трудно, да и сам сон будет прерывистым и не крепким. Также возможны ночные кошмары.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">В некоторых случаях <b>начинаются головные боли</b>, которые являются маркером серьезных изменений в организме под действием напитков. Возможно, проблема в расстройстве печени, повышенном артериальном давлении или недостатке гормонов, которые притупляют боль (когда человек регулярно выпивает, болевой порог у него прилично повышается).</span></li>
                            </ul>
                            <p>
                            <h3 style="padding: 32px 0 5px; font-size: 26px; line-height: 38px; font-weight: normal; margin: 0; font-family: Helvetica, Arial, sans-serif">2-я неделя</h3>
                            <img src="https://files.adme.ru/files/news/part_201/2017565/1025065-1458610-e43369b7d7d145d35e405bc70e7309be27938be7-1500-1-1550648589-728-8b123421c5-1550843325.jpg" alt="">
                            <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px;  font-family: Helvetica, Arial, sans-serif; color: #939393;">© depositphotos</span>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;"><b>Восстанавливается печень.</b> При регулярных дозах спиртного клетки печени медленно отмирают, а на их месте образуются рубцы. Орган
                                    может восстанавливаться, но происходит это очень медленно. Зависимость прямая: чем меньше человек пил, тем скорее будет регенерация.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Дополнительной мотивацией (во всяком случае, для дам) послужит изменение цвета кожи. Спиртное расширяет сосуды, что нарушает кровообращение, а это ведет к недостатку кислорода в коже. В итоге алкоголь сушит эпителий, провоцирует появление пигментных пятен и ранних морщин.
                                </span></li>
                            </ul>
                            <p>
                                <img src="https://files.adme.ru/files/news/part_201/2017565/1024965-1468110-d57f771721394b0b9b19fa769fe5671d5a248be6-1500-1-1550650445-728-61db0cc544-1550843325.jpg" alt="">
                                <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px;  font-family: Helvetica, Arial, sans-serif; color: #939393;">© depositphotos © depositphotos </span>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;"><b>Улучшаются пищеварительные процессы.</b> Алкоголь
                                    провоцирует усиленное выделение соляной кислоты в составе желудочного сока. Иными словами, желудок медленно «съедает» сам себя. Кстати, именно это является причиной повышения аппетита при принятии напитков.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Люди, которые проводили эксперименты по отказу от спиртного, отмечают, что на 2-й неделе <b>труднее уклоняться от встреч с друзьями</b>, где есть выпивка. Если первые дни человек держится на голом энтузиазме, то сейчас ему требуется серьезная сила воли.</span></li>
                            </ul>
                            <p>
                            <h3 style="padding: 32px 0 5px; font-size: 26px; line-height: 38px; font-weight: normal; margin: 0; font-family: Helvetica, Arial, sans-serif">3-я неделя</h3>
                            <img src="https://files.adme.ru/files/news/part_201/2017565/1024915-1465260-036438e40a398b0ae0702efdd1ccd6794d564279-1500-1-1550649925-728-eec99a3deb-1550843325.jpg" alt="">
                            <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px;  font-family: Helvetica, Arial, sans-serif; color: #939393;">© depositphotos&nbsp;&nbsp; © depositphotos
                                </span>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">На 3-й неделе <b>уходят</b> внешние признаки веселого времяпрепровождения — <b>мешки под глазами, синяки и припухлости</b> на лице. Это происходит потому, что жидкость в организме больше не застаивается и мочеполовая система снова работает хорошо.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Проще просыпаться по утрам. Человек в состоянии даже легкого опьянения буквально проваливается в сон и переходит сразу в глубокую фазу, пропуская состояние дремоты. Когда концентрация спиртного в крови снижается, сон становится поверхностным и прерывистым. Человек просыпается разбитым и отнюдь не отдохнувшим.</span></li>
                            </ul>
                            <p>
                                <img src="https://files.adme.ru/files/news/part_201/2017565/1024815-1463710-a6a2b7c93d17102f220b8160334ea1405f526182-1500-1-1550649327-728-faca6ac208-1550843325.jpg" alt="">
                            <p class="adme-img-copyright" style="text-align: center">
                                <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px;  font-family: Helvetica, Arial, sans-serif;color: #939393;">© depositphotos</span>
                            </p>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Из-за выпивки ухудшается слюноотделение, которое влияет в том числе на состояние зубов. Соответственно, без спиртного <b>риск развития кариеса снижается, а зубная эмаль становится более крепкой</b>.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Алкоголь притупляет не только боль, но и рецепторы вкуса, а также обоняние. Со временем <b>способности распознавать тонкие оттенки вкуса и запаха восстанавливаются</b>.</span></li>
                            </ul>
                            <p>
                            <h3 style="padding: 32px 0 5px; font-size: 26px; line-height: 38px; font-weight: normal; margin: 0; font-family: Helvetica, Arial, sans-serif">4-я неделя</h3>
                            <img src="https://files.adme.ru/files/news/part_201/2017565/1024765-1973210-5501e160fd2ea6e31ecebed70614bd04e49b12ed-1200-1-1550726124-728-422df4936e-1550843325.jpg" alt="">
                            <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px;  font-family: Helvetica, Arial, sans-serif; color: #939393;">© depositphotos</span>
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">При избыточном весе <b>масса тела</b> значительно
                                    уменьшается. Показатели индивидуальны: в среднем это 3–4 кг в месяц. Чем дольше человек будет вести абсолютно трезвый образ жизни, тем больше ему удастся сбросить.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Алкоголь повышает артериальное давление. Если это происходит слишком часто, появляется риск возникновения гипертонии. Люди, которые вообще не пьют, реже страдают этим заболеванием. А кроме того,
                                    снижается <b>риск возникновения заболеваний сердечно-сосудистой системы</b> и приходит в норму пульс.</span></li>
                            </ul>
                            <p>
                                <img src="https://files.adme.ru/files/news/part_201/2017565/1024615-1470060-55853ccb98f2fae4fdf8c6aa5f418696f0b8190b-1500-1-1550651107-728-0ff93761a0-1550843325.jpg" alt="">
                                <span style="width: 100%; text-align: center; font-size: 12px; line-height: 18px; color: #939393; font-family: Helvetica, Arial, sans-serif;">
                                    © Ateepeemadeofpeepee / reddit
                                </span>
                            </p>
                            <p style="text-align: justify; font-size: 16px; line-height: 26px; font-family: Helvetica, Arial, sans-serif;" >
                                Примерно такие изменения происходят с человеком, который не пил ни капли алкоголя в течение 220 дней.
                            </p>
                            <ul style="padding-left: 35px; font-family: Helvetica, Arial, sans-serif;">
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;"><b>Кожа лица и тела становится намного чище.</b> Пропадают акне и раздражения. В основном это происходит благодаря восстановлению водного баланса в организме и нормализации кровообращения. Цвет лица выравнивается, пигментные пятна постепенно исчезают.</span></li>
                                <li style="text-align: justify; padding-bottom: 16px; color: #f6c608;"><span style="color: #000; font-size: 16px; line-height: 26px;">Человек <b>мыслит ясно и работает более продуктивно</b>. Пожалуй, влияние алкоголя на мозг — одно из самых малозаметных внешне. Однако результаты
                                    исследований говорят об обратном: при систематическом принятии спиртного наблюдается легкая отечность мозга, расширение кровеносных сосудов и массовая гибель мозговых клеток из-за недостатка кислорода. Такие изменения очень медленны и, к сожалению, необратимы.</span></li>
                            </ul>
                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: justify;">У вас не появилось желания устроить себе подобный челлендж и понаблюдать за здоровьем? А может, вы и так ярый трезвенник?</p>
                            <p style="margin-top: 40px; margin-bottom: 40px; "><a href="{{ siteUrl }}" style="border: 1px solid transparent;
    color: #040404; background: #d9b680; padding: 16px 25px; border-radius: 4px;font-size: 14px; line-height: 1.57; color: #040406; font-weight: bold; text-transform: uppercase; text-decoration: none; font-family: Roboto, sans-serif;">Перейти на сайт</a></p>
                            <p style="text-align: left; font-size: 11px; color: #939393;">Материал взят с источника <a style="color: #939393;" href="https://www.adme.ru/zhizn-nauka/chto-budet-proishodit-s-organizmom-esli-ne-pit-alkogol-28-dnej-2017565/">https://www.adme.ru/zhizn-nauka/chto-budet-proishodit-s-organizmom-esli-ne-pit-alkogol-28-dnej-2017565/</a></p>
                        </td>
                    </tr>

                    <tr class="footer">
                        <td style="width: 100%; padding: 40px; background: #e7e7e7;">
                            <p style="margin: 0; margin-bottom: 24px; font-size: 12px; line-height: 2; color: #040406; font-family: Roboto, sans-serif">Вы получили это
                                письмо, потому что ранее подписались на курс на сайте <a href="{{ siteUrl }}" style="color: #040406;">28dney.ru</a>. Данное письмо не требует ответа.<br> ИП Колосов А.В.
                                ИНН 770475092568</p>
                            <p style="margin: 0; line-height: 34px; height: 34px; overflow: hidden;">
                                <a href="{{ confUrl }}" style="color: #040406; font-size: 14px;  line-height: 1.71;  font-family: Roboto, sans-serif">Политика конфиденциальности</a>
                                <a href="{{ facebookGroupUrl }}" style="float: right"><img src="{{ siteUrl ~ asset('assets/img/ico/fb_icon.png') }}"
                                                                                           alt=""></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}