<section class="section-blog">
    <div class="wrapper">
        <div class="blog">
            <div class="blog__head">
                <p class="blog__title">Блог</p>
                <p class="blog__subtitle">Еженедельные статьи, истории, рассказы участников сообщества</p>

                <div class="slider-nav"></div>
            </div>

            <div class="blog__content slick-slider">
                <div class="blog__article">
                    <img src="{{ asset('assets/img/blog-img01.png') }}" class="blog__img" alt="" title="">
                    <p class="blog__caption">Фильмы которые изменят тебя навсегда</p>
                </div>

                <div class="blog__article">
                    <img src="{{ asset('assets/img/blog-img02.png') }}" class="blog__img" alt="" title="">
                    <p class="blog__caption">Как перестать думать об алкоголе</p>
                </div>

                {#<div class="blog__article">#}
                    {#<img src="{{ asset('assets/img/blog-img03.png') }}" class="blog__img" alt="" title="">#}
                    {#<p class="blog__caption">12 эффективных упражнений для пресса</p>#}
                {#</div>#}

                {#<div class="blog__article">#}
                    {#<img src="{{ asset('assets/img/blog-img04.png') }}" class="blog__img" alt="" title="">#}
                    {#<p class="blog__caption">Подборка лучших книг для души</p>#}
                {#</div>#}



                {#<div class="blog__article">#}
                    {#<img src="{{ asset('assets/img/blog-img01.png') }}" class="blog__img" alt="" title="">#}
                    {#<p class="blog__caption">Фильмы которые изменят тебя навсегда</p>#}
                {#</div>#}

                {#<div class="blog__article">#}
                    {#<img src="{{ asset('assets/img/blog-img02.png') }}" class="blog__img" alt="" title="">#}
                    {#<p class="blog__caption">Как перестать думать об алкоголе</p>#}
                {#</div>#}

                {#<div class="blog__article">#}
                    {#<img src="{{ asset('assets/img/blog-img03.png') }}" class="blog__img" alt="" title="">#}
                    {#<p class="blog__caption">12 эффективных упражнений для пресса</p>#}
                {#</div>#}

                {#<div class="blog__article">#}
                    {#<img src="{{ asset('assets/img/blog-img04.png') }}" class="blog__img" alt="" title="">#}
                    {#<p class="blog__caption">Подборка лучших книг для души</p>#}
                {#</div>#}
            </div>
        </div>
    </div>
</section>