{% extends 'layouts/base.html.twig' %}
{% block title %}Блог{% endblock %}
{% block stylesheets %} {#<link rel="stylesheet" type="text/css"#}
          {#href="{{ asset('assets/css/style_blog.css') }}"/>#}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style_content.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/additional.css') }}"/>
{% endblock %}
{% block header_content %}
    <p class="header__title">Блог</p>
    <p class="header__text">Еженедельные статьи, истории, рассказы участников сообщества</p>
{% endblock %}
{#{% block header_menu %}#}
    {#<div class="header-menu">#}
        {#{% if not app.user %}#}
            {#<div class="header-menu__nav">#}
                {#<a href="#01" class="header-menu__nav-link">Как это работает</a>#}
                {#<a href="{{ path('blog_index') }}"#}
                   {#class="header-menu__nav-link">Блог</a>#}
                {#<a href="#03" class="header-menu__nav-link">О нас</a>#}
            {#</div>#}

            {#<a href="#section-tariff" class="header-menu__link button-full">Принять#}
                {#вызов</a>#}
            {#<a href="{{ path('login') }}"#}
               {#class="header-menu__link button-transparent">Войти</a>#}
        {#{% else %}#}
            {#<div class="header-menu__nav">#}
                {#<a href="{{ path('logout') }}"#}
                   {#class="header-menu__nav-link">{{ app.user.name }} (выйти)</a>#}
            {#</div>#}
        {#{% endif %}#}
    {#</div>#}
{#{% endblock %}#}
{% block content %}
    <section class="section-blog">
        <div class="wrapper">
            <div class="blog">
                <div class="blog__content autoplacement-js">
                    {% for post in posts %}
                        <a href="{{ path('blog_view', {id: post.id}) }}"
                           class="blog__article"
                           style="margin-right: 33px; margin-bottom: 30px;">
                            <img src="{{ asset(imageHelper.imageLink(post, 'middle')) }}"
                                 class="blog__img" alt="" title="">
                            <p class="blog__caption">{{ post.titleText }}</p>
                        </a>
                    {% endfor %}
                </div>
                {#<nav class="pagination">#}
                    {#<a href="#prev" class="pagination__link button-full">Предыдущая</a>#}
                    {#<a href="#01" class="pagination__link button-full">1</a>#}
                    {#<a href="#02" class="pagination__link button-full">2</a>#}
                    {#<a href="#03" class="pagination__link button-full">3</a>#}
                    {#<a href="#04" class="pagination__link button-full">4</a>#}
                    {#<a href="#05" class="pagination__link button-full">5</a>#}
                    {#<span class="pagination__link pagination__link-separate button-full">...</span>#}
                    {#<a href="#010" class="pagination__link button-full">10</a>#}
                    {#<a href="#next" class="pagination__link button-full">Следующая</a>#}
                {#</nav>#}
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function ap(itemsWrap, columns) {
            var containerInnerSize = itemsWrap.width(),
                placementItems = itemsWrap.children(),
                marginDefault = placementItems.filter(':first-child').css('margin-bottom'),
                itemsNotMargin = placementItems.filter(':nth-child(' + columns + 'n + ' + columns + ')'),
                placementItemsSize = placementItems.innerWidth(),
                result = containerInnerSize - placementItemsSize * columns,
                itemsQuantity = placementItems.length,
                lastItemsQuantity = (itemsQuantity - columns);

            placementItems
                .css({
                    'margin-right': Math.floor(result / (columns - 1)),
                    'margin-bottom': marginDefault
                })
                .slice(lastItemsQuantity)
//                .css({'margin-bottom': 0});

            itemsNotMargin.css({'margin-right': 0});
        }

        /* init ap function */
        var $initElement = $('.autoplacement-js');

        $(window).on('load resize', function () {
            if ($(window).innerWidth() > 991) {
                ap($initElement, 4);
            } else if ($(window).innerWidth() <= 991 && $(window).innerWidth() > 768) {
                ap($initElement, 3);
            } else if ($(window).innerWidth() <= 768 && $(window).innerWidth() > 480) {
                ap($initElement, 2);
            } else if ($(window).innerWidth() <= 480 && $(window).innerWidth() > 0) {
                ap($initElement, 1);
            }
            /*if ($(window).innerWidth() > 640) {
                ap($initElement, 4);
            } else if ($(window).innerWidth() <= 640 && $(window).innerWidth() > 480) {
                ap($initElement, 3);
            }*/

//            if ($('.sticky').length) {
//                $('.header.sticky + .content').css('padding-top', $('.header.sticky').height());
//            }
        });
    </script>
{% endblock %}