{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <nav class="pagination">
        {% if first is defined and current != first %}
            <a href="{{ path(route, {page: current - 1}) }}" class="pagination__link button-full first-button"><span class="icon-left-arrow"></span>Предыдущая</a>
        {% endif %}
        {% for page in pagesInRange %}
            {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="pagination__link button-full">{{ page }}</a>
            {% else %}
                <span class="pagination__link button-full active">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, {page: current + 1}) }}" class="pagination__link button-full last-button">Следующая<span class="icon-right-arrow"></span></a>
        </span>
        {% endif %}
    </nav>
{% endif %}
