{% extends 'layouts/base.html.twig' %}
{% block title %}Блог{% endblock %}
{% block stylesheets %}
    {#<link rel="stylesheet" type="text/css"#}
          {#href="{{ asset('assets/css/style_blog.css') }}"/>#}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/style_content.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/additional.css') }}">
{% endblock %}
{% block header_content %}
    <p class="header__title">Восстановления пароля</p>
{% endblock %}

{% block content %}
    <section class="section-password-reset">
        <div class="wrapper">
            <form action="" method="post" name="" class="password-reset">
                <label for="{{ form.email.vars.id }}" class="password-reset__label">
                    {% set emailVar = form.email.vars.value %}
                    <input name="{{ form.email.vars.full_name }}" type="email" id="{{ form.email.vars.id }}" class="password-reset__input input-js {% if emailVar %}filled{% endif %}" required value="{{ emailVar }}">
                    <span class="custom-placeholder">Введите почту</span>
                    {{ form_errors(form.email) }}
                </label>

                <a href="{{ path('login') }}" class="password-reset__btn button-transparent-dark">Назад</a>
                <input type="submit" class="password-reset__btn button-full" value="Подтвердить">
            </form>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.password-reset__input').on('input', function(e) {
            let val = $(this).val();

            if (!val.length) {
                $(this).removeClass('filled');
            } else {
                $(this).addClass('filled');
            }
        });

        setTimeout(function() {
            $('input:-webkit-autofill').addClass('filled');
        }, 600);
    </script>
{% endblock %}
{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#function ap(itemsWrap, columns) {#}
            {#var containerInnerSize = itemsWrap.width(),#}
                {#placementItems = itemsWrap.children(),#}
                {#marginDefault = placementItems.filter(':first-child').css('margin-bottom'),#}
                {#itemsNotMargin = placementItems.filter(':nth-child(' + columns + 'n + ' + columns + ')'),#}
                {#placementItemsSize = placementItems.innerWidth(),#}
                {#result = containerInnerSize - placementItemsSize * columns,#}
                {#itemsQuantity = placementItems.length,#}
                {#lastItemsQuantity = (itemsQuantity - columns);#}

            {#placementItems#}
                {#.css({#}
                    {#'margin-right': Math.floor(result / (columns - 1)),#}
                    {#'margin-bottom': marginDefault#}
                {#})#}
                {#.slice(lastItemsQuantity)#}
                {#.css({'margin-bottom': 0});#}

            {#itemsNotMargin.css({'margin-right': 0});#}
        {#}#}

        {#/* init ap function */#}
        {#var $initElement = $('.autoplacement-js');#}

        {#$(window).on('load resize', function () {#}
            {#ap($initElement, 4);#}
            {#/*if ($(window).innerWidth() > 640) {#}
                {#ap($initElement, 4);#}
            {#} else if ($(window).innerWidth() <= 640 && $(window).innerWidth() > 480) {#}
                {#ap($initElement, 3);#}
            {#}*/#}

            {#if ($('.sticky').length) {#}
                {#$('.header.sticky + .content').css('padding-top', $('.header.sticky').height());#}
            {#}#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}