{% extends 'layouts/main.html.twig' %}
{% block title %}Password Recovery | {{ site_name }}{% endblock %}
{% block main_stylesheet %}
    {#<link href="{{  asset('assets/css/recovery.css') }}" rel="stylesheet">#}
    <link href="{{  asset('assets/css/style_content.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="screen ">
    <div class="content container-fluid">
        <div class="centered ">
            <div class="row">
                <div class="col-xs-24 col-md-23 col-md-offset-1">
                    <div class="notification">
                        <div class="notification-content">
                            <div class="text"></div>
                            <div class="close-button">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="centered ">
                        <div class="row text-centered">
                            <div class="col-xs-25 col-sm-15 col-md-9 no-float inline-block text-left">
                                {%  include 'partial/flash_messages.html.twig' %}
                                <h3>Password recovery</h3>
                                {{ form_start(form) }}
                                    <fieldset>
                                        <div class="field-title">
                                            <label for="user">E-mail</label>
                                        </div>
                                        <div class="field-value">
                                            {{ form_widget(form.email) }}
                                        </div>
                                        <div class="field-error error">
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </fieldset>
                                <div class="confirm_block_btn">
                                    <input type="submit" class="red-border-btn" value="Confirm">
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.close').click(function(e) {
            $(this).parent().slideUp();
        });
    </script>
{% endblock %}